.lecture-btn {
    margin: 10px !important;
    box-shadow: 4px 4px 0px -1px black;
    border: 1px solid black;
}

.chevron-slide {
    transition: max-height 0.6s;
    display: flex;
    gap: 10px;
    border: 5px solid;
}

.chevron-slide:has(.inside-text) {
    min-height: 280px;
}

.chevron-slide .head-container {
    text-align: center;
    align-self: center;
    width: 25%;
}

.chevron-slide .head-container img {
    height: auto;
    border: 3px solid gray;
}

.chevron-slide .text-container .inside-text {
    transition: max-height 0.6s;
    overflow: hidden;
}

.chevron-slide .text-container :is(h3, h4, h5) {
    margin-top: 18px;
}

.chevron-slide .text-container :is(p, li),
.modal-desc p {
    margin-top: 9px;
    font-size: 14px;
    line-height: 1.4;
}

.text-container .lectur-time {
    color: black;
}

.open-desc {
    cursor: pointer;
    margin: 9px;
}

.rotated {
    transform: rotate(180deg);
}

/* MODAL */
.info-modal {
    position: fixed;
    z-index: 100;
    place-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* .info-modal-content {
    display: flex;
    background-color: #fff;
    margin-top: 140px;
    padding: 10px;
    border: 1px solid #888;
} */
.info-modal-content-container {
    width: 100%;
}

.info-modal-content {
    display: flex;
    background-color: #fff;
    position: relative;
    margin: auto;
    max-height: 800px;
    overflow: hidden;
    padding: 10px;
    border: 1px solid #888;
}

.info-modal-content h3 {
    margin-top: 9px;
}

.modal-lecturers {
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
}

.modal-lecturers .modal-image {
    width: 100%;
}

.modal-lecturers img {
    margin: 5px;
    max-width: 300px !important;
}

.modal-lecturers p {
    text-align: left;
    width: auto;
}

.info-close {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 10px;
    color: darkred;
}

.lecturer {
    display: flex;
    gap: 10px;

    margin-bottom: 5px;
    padding-bottom: 5px;
}

.modal-lecturers .lecturer:not(:last-child) {
    border-bottom: 1px solid black;
}

.lecturer p {
    line-height: 1.2;
    margin-top: 9px;
}

.lecturer modal-no-image {
    height: 120px;
    visibility: hidden;
}

.chevron-slide .head-container .lecturers-triple {
    margin-top: -10px !important;
    margin-left: -10px !important;
}

.no-scroll {
    overflow: hidden;
}

.text-container {
    margin-left: 36px;
}

@media (min-width:960px) {
    .info-modal-content {
        width: 80%;
        max-width: 1200px;
    }
}

@media (max-width:600px) {
    .chevron-slide {
        text-align: center;
        padding: 9px 0;
        max-height: unset;
        flex-direction: column;
        align-items: center;
    }

    .chevron-slide .head-container {
        width: 100%;
    }

    .chevron-slide .head-container .lecturers-bio {
        margin-top: unset !important;
        margin-left: unset !important;
        transform-origin: center !important;
    }

    .chevron-slide .speakers-img {
        display: flex;
        justify-content: center;
    }

    .chevron-slide .speakers-img img {
        position: inherit !important;
        z-index: 1 !important;
        top: 0 !important;
        left: unset !important;
        max-width: 30% !important;
        margin-top: 10px !important;
    }

    .chevron-slide .lecturer {
        flex-direction: column;
        align-items: center;
    }

    .chevron-slide .lecturer img {
        max-width: 35%;
    }

    .chevron-slide :is(.modal-image, .modal-desc h3) {
        text-align: center;
    }

    .inside-title {
        font-size: 18px !important;
    }

    .text-container {
        margin-left: 0 !important;
        width: 100% !important;
    }

    .lecture-btn {
        margin: 0 !important;
    }
}

.vc_row .simple-lecture:nth-child(even) {
    background-color: #f7f7f7;
}

.simple-lecture .simple-lecture-hour {
    text-align: center;
    font-size: 20px;
}

.simple-lecture h5 {
    font-size: 20px;
}

.simple-lecture :is(h5, p) {
    margin-top: 0 !important;
}

.simple-lecture .simple-lecture-text p {
    font-size: 16px;
    line-height: 1.2;
}

.col-lg-6 .simple-lecture h5 {
    font-size: 16px !important;
}

.col-lg-6 .simple-lecture .simple-lecture-text p {
    font-size: 14px;
}

@media (max-width:599px) {
    .simple-lecture .simple-lecture-text {
        text-align: center;
    }
}

@media (min-width:600px) and (max-width:959px) {
    .simple-lecture .simple-lecture-hour {
        width: 40% !important;
    }

    .simple-lecture .simple-lecture-text {
        width: 60% !important;
    }

    .simple-lecture {
        display: flex;
        gap: 5px;
    }
}

@media (min-width:960px) {
    .simple-lecture .simple-lecture-hour {
        width: 20%;
    }

    .simple-lecture .simple-lecture-text {
        width: 80% !important;
    }

    .simple-lecture {
        display: flex;
        gap: 5px;
    }
}

/*Spekers Info*/
.speakersInfo {
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
}

.speakersInfo .custom-speaker {
    width: 15%;
    min-width: 150px;
}

.speakersInfo :is(.custom-speaker-img, .custom-speaker-modal-img) {
    border-radius: 50%;
}

.info-modal .speaker {
    text-align: center;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    max-height: 75%;
    overflow: scroll;

}

.info-modal .speaker p {
    padding: 0 36px;
    text-align: left;
}

.info-modal .custom-speaker-modal-img {
    max-width: 200px;
}

@media (min-width:959px) {
    .info-modal .custom-speaker-img {
        max-width: 250px;
    }
}

@media (max-width:959px) {
    .info-modal .custom-speaker-img {
        max-width: 150px;
    }

    .info-modal .speaker {
        max-width: 90% !important;
    }

    .info-modal .speaker p {
        padding: 0 9px;
    }
}